<!DOCTYPE html>
<html>
<head>
    <title>{{TITLE}}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="content-type" content="text/html; charset=UTF8">
    <link rel="stylesheet" href="/webjars/kajero/main.css">
</head>
<body>
<script type="text/markdown" id="kajero-md">
{{MARKDOWN}}
</script>
<div id="kajero"></div>
<script type="text/javascript" src="/webjars/kajero/bundle.js"></script>
</body>
</html>